<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header4'); %>
</header>

<a href="/profile"><h1 class="text-center text-gray-600 g_f mb-2 text-4xl hover:text-blue-500 mx-auto bg-gradient-to-r from-blue-400 via-purple-200 to-indigo-400 ... ">Profile</h1></a>
<a href="editor/fineEditor">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player class="bg-gradient-to-r from-blue-500 to-blue-100 ... ml-20 border-lg rounded-full" src="https://assets9.lottiefiles.com/datafiles/lwjM2vQf6cSbmAu/data.json"  background="transparent"  speed="1"  style="width: 75px; height: 75px;"  loop  autoplay></lottie-player>
   </a>

  <section class="flex">
    <div class="flex w-2/3 flex-col text-gray-600 body-font overflow-hidden ">
      <div class="container px-4 py-8 mx-auto">
        <div class="border-2">
          <% editor.forEach(editor=>{%>
            <div class="py-4 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="mt-1 text-gray-500 text-sm"><%= editor.createdAt %></span>
              </div>
              <div class="md:flex-grow">
                
                <p class="leading-relaxed">
                  <%= editor.content %>
                </p>
                <a class="text-indigo-500 border rounded-lg p-1 hover:bg-blue-500 hover:text-white cursor-pointer inline-flex items-center m-2"
                  >Edit
                </a>
                <a class="text-indigo-500 border rounded-lg p-1 hover:bg-blue-500 hover:text-white cursor-pointer inline-flex items-center m-2"
                  >Delete
                </a>
                
              </div>
            </div>

         <% }) %>
        
          
        </div>
      </div>
    </div>
    <div class="flex flex-col pt-2 relative mx-auto text-gray-600">
      <input
        class="
          border-2 border-gray-300
          bg-white
          h-10
          px-5
          pr-16
          rounded-lg
          text-sm
          focus:outline-none
        "
        type="search"
        name="search"
        placeholder="Search tag"
      />
      <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
        <svg
          class="text-gray-600 h-4 w-4 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Capa_1"
          x="0px"
          y="0px"
          viewBox="0 0 56.966 56.966"
          style="enable-background: new 0 0 56.966 56.966"
          xml:space="preserve"
          width="512px"
          height="512px"
        >
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
          />
        </svg>
      </button>
      <input
        class="
          my-8
          border-2 border-gray-300
          bg-white
          h-10
          px-5
          pr-16
          rounded-lg
          text-sm
          focus:outline-none
        "
        type="text"
        name="create"
        placeholder="Create tag"
      />
      <button
        class="
          rounded
          text-gray-100
          px-3
          py-1
          bg-blue-500
          hover:shadow-inner
          hover:bg-blue-700
          transition-all
          duration-300
        "
      >
        Save
      </button>

      <div class="mt-10">
        <label class="text-black">Choose by Date</label><br />
        <input
          
          type="date"
          class="form-control"
          
        />
      </div>
    </div>
  </section>
 


<footer>
  <%- include('../partials/footer'); %>
</footer>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>
</html>